#!/usr/bin/env python
PACKAGE = "$package_name"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("example_name", double_t, 0, "Example Descr.", <default>, <min>, <max>)

exit(gen.generate(PACKAGE, "$node_name", "${NAME}"))